*{
    margin: 0px;
    padding: 0px;
}
.nav_container{
    height: 80px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,113,121,1) 53%, rgba(0,212,255,1) 100%);
    color: beige;
    box-shadow: 1px 1px 30px black;
}
nav{
    display: flex;
    justify-content: space-between;
}
#p1{
    font-size: 40px;
    margin: 15px;
    font-family: fantasy;
    margin-left: 40px;
    margin-top: 25px;
}
#nav_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin:30px;
}
a:link {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
#name{
height: 100px;
width:30%;
}
.footer1{
    height: 40px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,163,152,1) 37%, rgba(0,212,255,1) 89%);
    box-shadow: 1px 1px 30px black;
}
#p2{
    color: antiquewhite;
    padding-top: 15px;
    padding-left: 10px;
}
.main_content{
    height: 800px;
    width: 1100px;
    margin-left: 200px;
    background: hsla(152, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FF87", endColorstr="#60EFFF", GradientType=1 );
    
    box-shadow: 1px 1px 30px black;
}
.gulab_jamun{
    display: flex;
    margin-left: 30px;
}
#gulab_heading{
    margin: 20px;
    text-shadow: 1px 0px 2px black;
}
.gulab_jamun h3{
    margin: 15px;
}
.gulab_jamun img{
    height: 350px;
    width: 233.3px;
    margin: 10px;
    box-shadow: 3px 5px 10px black;
    border-radius: 10px;
}

.rabri{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}
#rabri_heading{
    margin: 20px;
    text-shadow: 1px 0px 2px black;
}
.rabri h3{
    margin: 15px;
}
#rabri_image{
    height: 350px;
    margin: 10px;
    box-shadow: 3px 5px 10px black;
    border-radius: 10px;
}
